In [2]:
import pandas as pd
import glob
import time
import random
import requests
from bs4 import BeautifulSoup
from fake_useragent import UserAgent

In [6]:
path = '../DataBase/全台特色門市資訊.xlsx'
df = pd.read_excel(path, names=['area','city','no','address'])#,sheet_name='store_m')
# df_store_south = df[df['zo_no']==4501]

In [7]:
df

    area city                 no              address
0     北部   基隆               德復門市        基隆市中山區復興路197號
1     北部   台北                 必成    台北市信義區基隆路一段178號1樓
2     北部   台北                 總部       台北市信義區東興路67號1樓
3     北部   台北  統佳門市BEINGfit松江1號店      台北市中山區松江路237號2樓
4     北部   台北              動物園門市       台北市文山區新光路2段30號
..   ...  ...                ...                  ...
249   東部   花蓮               南濱門市      花蓮縣吉安鄉南濱路一段116號
250   東部   宜蘭               泉發門市      宜蘭縣礁溪鄉礁溪路3段302號
251   東部   宜蘭               泉發門市  宜蘭縣礁溪鄉礁溪路3段302號306號
252   東部   宜蘭               親河門市      宜蘭縣五結鄉親河路2段289號
253   東部   宜蘭               深溝門市        宜蘭縣員山鄉惠民路207號

[254 rows x 4 columns]

In [4]:
def STR_to_NUM(data):
    line = tuple(data.split(',')) #註1
    num1 = float(line[1])
    num2 = float(line[2])
    line = [num1, num2]
    return line
def coordination(url):
    user_agent = UserAgent()
    response = requests.get(url, headers={ 'user-agent': user_agent.random })
    soup = BeautifulSoup(response.text, "html.parser")
    text = soup.prettify() #text 包含了html的內容
    initial_pos = text.find(";window.APP_INITIALIZATION_STATE")
    #尋找;window.APP_INITIALIZATION_STATE所在位置
    data = text[initial_pos+36:initial_pos+85] #將其後的參數進行存取
    num_data = STR_to_NUM(data)
    return num_data
    # ws.append(num_data) #將經緯度存到Excel裡

In [4]:
district_list = '旗津區|前鎮區|鹽埕區|苓雅區|前金區|小港區'

In [5]:
df_target = df_store_south[df_store_south['address'].str.contains(district_list)]
df_target_add = df_target['address'].tolist()

In [6]:
df_target.keys()

Index(['store_no', 'eff_date_from', 'eff_date_to', 'store_name',
       'store_name_short', 'old_store_no', 'order_start_date',
       'sales_start_date', 'open_date', 'close_date', 'store_attrib_no',
       'geo_no', 'county_no', 'zo_no', 'do_no', 'fm_no', 'area_no',
       'master_area_no', 'store_type', 'op_type', 'zip_no', 'address',
       'op_day', 'op_time', 'store_test_flag', 'store_status', 'upd_date',
       'upd_time'],
      dtype='object')

In [ ]:
df_temp__ = {'longtitude':[],
          'latitude':[]}
for i, address in enumerate(df['address'].tolist()):
    if i >=13:
        print(i)
        URL = f"https://www.google.com/maps/place?q={address}" 
        time.sleep(random.randint(100,300))
        lon, lat = coordination(URL)
        df_temp__['longtitude'].append(lon)
        df_temp__['latitude'].append(lat)

13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64

In [12]:
qqq=pd.DataFrame(df_temp__)

In [13]:
qqq.to_csv('qqq.csv')

In [19]:
aaa

   store_no  longtitude   latitude
0    200505  120.345888  22.566785
1    200077  120.307550  22.604350
2    185800  120.331909  22.633197